<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 rescap">
  <Identity
    Name="Fernando.ChromeNotificationWatcher"
    Publisher="CN=Fernando.ChromeNotificationWatcher"
    Version="1.0.1.0"
    ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>Chrome Notification Watcher</DisplayName>
    <PublisherDisplayName>Fernando</PublisherDisplayName>
    <Description>Monitors Windows notifications from Google Chrome and triggers PC and ntfy alerts.</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.17763.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application
      Id="App"
      Executable="ChromeNotificationWatcher.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Chrome Notification Watcher"
        Description="Chrome notification watcher with PC alarm and ntfy forwarding."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png" />
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="userNotificationListener" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
